<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Restaurants</a>
			</div><!-- end of header -->
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li><a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a></li>
				<li class="active"><a href="">Edit {{item.name}}</a></li>
			  </ul>
			</div><!-- end navigation menu -->
		  </div> <!--  end container -->
		</nav> <!-- end navbar -->
		
		<div class="container">		
			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<h1>{{restaurant.name}}</h1>
				<p><h4>Edit {{item.name}}</h4></p>
			</div>

			<!-- if there are errors, display them here! -->
			{% if errors %}
				{% for e in errors %}
					<div class="alert alert-danger" role="alert">
						<strong>Error!</strong> {{e}}
					</div>
				{% endfor %}
			{% endif %}
			
			<!-- Form for editing a restaurant -->
			<form class="form-horizontal" action="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id = item.id)}}" method = 'POST' role="form">
				<!-- Name -->
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" value="{{item.name}}">
					</div>
				</div>
				<!-- Description -->
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="description" value="{{item.description}}">
					</div>
				</div>
				<!-- Price -->
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Price</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="price" value="{{item.price}}">
					</div>
				</div>
				<!-- Course -->
				<div class="form-group">
					<label for="course" class="col-sm-2 control-label">Course</label>
					<div class="col-sm-10">
						{% if item.course == 'Appetizer' %}
							<input type ='radio' name='course' value='Appetizer'checked >Appetizer<br>
						{%else%}
							<input type ='radio' name='course' value='Appetizer' >Appetizer<br>
						{% endif %}

						{% if item.course == 'Entree' %}
							<input type ='radio' name='course' value='Entree' checked>Entree<br>
						{%else%}
							<input type ='radio' name='course' value='Entree'>Entree<br>
						{% endif %}

						{% if item.course == 'Dessert'%}
							<input type ='radio' name='course' value='Dessert'checked >Dessert<br>
						{% else %}
							<input type ='radio' name='course' value='Dessert'>Dessert<br>
						{% endif %}

						{%if item.course =='Beverage'%}
							<input type ='radio' name='course' value='Beverage'checked >Beverage<br>
						{% else %}
							<input type ='radio' name='course' value='Beverage'>Beverage<br>
						{% endif %}	
					</div>
				</div>
				<!-- Submit Button -->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Save Changes</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>