<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Restaurants</a>
			</div><!-- end of header -->
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="">{{restaurant.name}}</a></li>
				<li><a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">New Menu Item</a></li>
			  </ul>
			</div><!-- end navigation menu -->
		  </div> <!--  end container -->
		</nav> <!-- end navbar -->
		
		<!-- Menu Items -->
		<div class="container">	
			<div class="jumbotron">
				<h1>{{restaurant.name}}</h1>
				<p><h4>
					{% if restaurant.description %}
						{{restaurant.description}}<br>
					{% endif %}
					{% if restaurant.address %}
						{{restaurant.address}}<br>
					{% endif %}
					{% if restaurant.phone %}
						{{restaurant.phone}}<br>
					{% endif %}
					{% if restaurant.website %}
						{{restaurant.website}}<br>
					{% endif %}
				</h4></p>
			</div>
			
			{% if items|length == 0 %}
				No menu items yet <br><br>
			{% else %}
				{% for course in items|groupby('course') %}
					<!-- Course header -->
					<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{course.grouper}}</h3>
							</div>
							<div class="panel-body">
								{% for row in course.list|batch(3) %}
									<div class="container">
										<div class="row grid-divider">
										{% for i in row %}
											<div class="col-sm-4">
												<div class="col-padding">
													<h4>{{i.name}}</h4>
													<p>
														{% if i.description %}
															{{i.description}}<br>
														{% endif %}
														{% if i.price %}
															{{i.price}}<br>
														{% endif %}
													</p>
													<p>
														<a type="button" class="btn btn-default btn-md" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}">Edit</a>
														<a type="button" class="btn btn-default btn-md" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}">Delete</a>
													</p>
												</div>
											</div>
										{% endfor %}
										</div>
									</div>	<!-- close row -->
								{% endfor %}
							</div>
					</div> <!-- close container -->
				{% endfor %}
				
			{% endif %}
		</div>
	</body>
</html>