<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{{url_for('showRestaurants')}}">Restaurants</a>
			</div><!-- end of header -->
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="">{{restaurant.name}}</a></li>
				<li><a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">New Menu Item</a></li>
			  </ul>
			</div><!-- end navigation menu -->
		  </div> <!--  end container -->
		</nav> <!-- end navbar -->
		
		<!-- Menu Items -->
		<div class="container">	
			<div class="jumbotron">
				<h1>{{restaurant.name}}</h1>
			</div>
			
			{% if items|length == 0 %}
				No menu items yet <br><br>
			{% else %}
				{% set course = '' %}
				{% for i in items|sort(attribute='course') %}
					<!-- Check to see if we need to finish a panel and start another panel for a different course -->
					{% if i.course != course %}
						{% if course != '' %}
							<!-- End the previous course panel body and overall course panel -->
							</div></div>
						{% endif %}
						
						<!-- Reset what our current course is -->
						{% set course = i.course %}
						
						<!-- Start a panel for a new course -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{i.course}}</h3>
							</div>
							<div class="panel-body">
					{% endif %}
				
					<!-- Add menu item to panel -->
					<p>{{i.name}}<br>
					{% if i.description %}
						{{i.description}}<br>
					{% endif %}
					{% if i.price %}
						{{i.price}}<br>
					{% endif %}
					
					<a type="button" class="btn btn-default btn-md" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}">Edit</a>
					<a type="button" class="btn btn-default btn-md" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}">Delete</a>
					</p>
					
				{% endfor %}
				</div>	
			{% endif %}
		</div>
	</body>
</html>