<html>
	<body>
		<a href="{{url_for('newRestaurant')}}">Add New Restaurant</a><br><br>
		
		{% if restaurants|length == 0 %}
			No restaurants added <br><br>
		
		{% else %}
			{% for i in restaurants %}
				{{i.name}}<br>
				{{i.description}}<br>
				{{i.address}}<br>
				{{i.phone}}<br>
				{{i.website}}<br>
				<a href="{{url_for('showMenu', restaurant_id = i.id) }}">View Menu</a>
				<a href="{{url_for('editRestaurant', restaurant_id = i.id) }}">Edit Restaurant</a>
				<a href="{{url_for('deleteRestaurant', restaurant_id = i.id) }}">Delete Restaurant</a>
				<br><br>
			{% endfor %}
		{% endif %}
	</body>
</html>