<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<style type="text/css">
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	
	<body class = "body">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="{{url_for('showRestaurants')}}" >Restaurants</a>
			</div><!-- end of header -->
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li><a href="{{url_for('newRestaurant')}}">New Restaurant</a>
				</li>
			  </ul>
			</div><!-- end navigation menu -->
		  </div> <!--  end container -->
		</nav> <!-- end navbar -->

	<!-- Page body -->
			
		<div class="container" role="main">
			<div class="jumbotron">
				<h1>Restaurants</h1>
				<h4>A selection of local restaurants.  Enjoy your dining experience!</h4>
			</div>
		
		<!-- if there are messages, display them here! -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for m in messages %}
					<div class="alert alert-success" role="alert">{{m}}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		<!-- Display all the restaurants -->
		{% if restaurants|length == 0 %}
			No restaurants found<br><br>
		{% else %}
			{% for row in restaurants|batch(3) %}
				<div class="container">
					<div class="row grid-divider">
					{% for i in row %}
						<div class="col-sm-4">
							<div class="col-padding">
								<h3>{{i.name}}</h3>
								<p>
									{% if i.description %}
										{{i.description}}<br>
									{% endif %}
									{% if i.address %}
										{{i.address}}<br>
									{% endif %}
									{% if i.phone %}
										{{i.phone}}<br>
									{% endif %}
									{% if i.website %}
										{{i.website}}<br>
									{% endif %}
								</p>
								<p>
									<a class="btn btn-sm btn-default" href="{{url_for('showMenu', restaurant_id = i.id)}}">View Menu</a>
									<a class="btn btn-sm btn-default" href="{{url_for('editRestaurant', restaurant_id = i.id)}}">Edit Restaurant</a>
									<a class="btn btn-sm btn-default" href="{{url_for('deleteRestaurant', restaurant_id = i.id)}}">Delete Restaurant</a>
								</p>
							</div>
						</div>
					{% endfor %}
					</div>	<!-- close row -->
				</div> <!-- close container -->
			{% endfor %}
		{% endif %}
		</div>
	
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug
		<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
		-->
	</body>
</html>